.footer {
    background-color: #25303e;
    color: #83969f;
    text-align: center;
    padding-bottom: 2em;
}

.footer-menushare {
    background-color: #303d4c;
    padding: .5em;
}

.footer-menushare li {
    display: inline-block;
    margin: 0 1em;
}

.footer-menushare a {
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}